/* Simple baseline */
* {
	box-sizing: border-box;
	margin: 0;
	border: 0;
	padding: 0;
	list-style-type: none;
	font-family: sans-serif;
	text-align: inherit;
	font-size: 1rem;
}

/* Knobs for tweaking */
:root {
	--sidebar-width: 260px;
	--current-page-indicator-width: 10px;
	--spacing-1: 25px;
	--spacing-2: 50px;
	--bg: whitesmoke;
	--text: black;
	--accent-colour: royalblue;
	--accent-light: skyblue;
	--accent-danger: crimson;
	--accent-danger-light: lightcoral;
	--accent-secondary: coral;
	--borders: black;
	--roundness: 7px;
	--border-width: 2px;
	--transition-speed: 80ms;
}

html,
body,
#root {
	width: 100%;
	min-height: 100%;
	background-color: var(--bg);
	color: var(--text);
}

/* 
Sidebar styles
*/

#sidebar {
	padding-top: var(--spacing-2);
	padding-bottom: var(--spacing-1);

	width: var(--sidebar-width);

	border-right: var(--border-width) solid black;

	background-color: var(--bg);
	/* Show above tickboxes */
	z-index: 10;

	/* Keep sidebar on the side at all times */
	left: 0;
	top: 0;
	bottom: 0;
	position: fixed;

	/* Stack items inside it */
	display: flex;
	flex-direction: column;
}

#title {
	padding-left: var(--spacing-1);
	/* 10px safety margin */
	max-width: calc(var(--sidebar-width) - var(--spacing-1) - 10px);
	text-overflow: ellipsis;
	font-size: 2rem;
}

#sidebar-actions {
	display: flex;
	flex-wrap: wrap;
	gap: var(--spacing-1);
	padding: var(--spacing-1);
}
.sidebar-action {
	border: var(--border-width) solid transparent;
	padding: 10px;
	padding-left: 15px;
	padding-right: 15px;
	border-radius: var(--roundness);
	--light-bg: var(--accent-light);
	--strong-bg: var(--accent-colour);
	background-color: var(--light-bg);
	transition-duration: var(--transition-speed);
}
.sidebar-action:hover,
.sidebar-action:focus-visible {
	background-color: var(--strong-bg);
}
.sidebar-action:active {
	border-color: var(--borders);
}
.sidebar-action#delete-list-button {
	--light-bg: var(--accent-danger-light);
	--strong-bg: var(--accent-danger);
}

#sidebar-lists {
	/* Push to bottom of sidebar */
	margin-top: auto;

	max-height: 80vh;
	overflow: auto;
}

#add-new-button {
	position: sticky;
	bottom: 0;
}

.sidebar-link-container {
	display: block;
	width: 100%;
}
.sidebar-link {
	display: block;
	width: 100%;
	height: 100%;
	padding: var(--spacing-1);
	padding-left: calc(var(--spacing-1) - var(--current-page-indicator-width));
	text-decoration: none;
	color: var(--borders);
	/* Keep everything with current page indicator aligned */
	border-left: var(--current-page-indicator-width) solid transparent;
	/* Get rid of initial colour from buttons */
	background-color: var(--bg);
	transition-duration: var(--transition-speed);
}

.sidebar-link:hover {
	background-color: var(--accent-light);
}

[data-selected] .sidebar-link {
	border-left-color: var(--accent-colour);
}

[data-drag-over] .sidebar-link {
	border-left-color: var(--accent-secondary);
}

/* List control styles */

#top-section {
	position: sticky;
	top: 0;
	z-index: 200;
	background-color: var(--bg);
	border-bottom: var(--border-width) solid var(--borders);
	padding: var(--spacing-1);
	padding-top: var(--spacing-2);

	display: flex;
	flex-direction: column;
	gap: var(--spacing-1);
	padding-bottom: 0;
}

#new-todo-input-wrapper {
	user-select: none;
	display: block;
}
#new-todo-input-wrapper:focus-within {
	color: var(--accent-colour);
}
#new-todo-input {
	display: block;
	width: 100%;
	padding: var(--spacing-1);
	font-size: x-large;
	border-radius: var(--roundness);
	background-color: var(--bg);
	border: var(--border-width) solid var(--borders);
	transition-duration: var(--transition-speed);
}
#new-todo-input:focus {
	border-color: var(--accent-colour);
	outline: none;
}

#item-action-controls {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

#show-completed-toggle-wrapper {
	user-select: none;
	margin-right: auto;
}

#show-completed-toggle {
	accent-color: var(--accent-colour);
}

.action-dropzone {
	/* flex: 1; */
	padding: var(--spacing-1);
	user-select: none;
	text-align: center;
	display: block;
	border: 3px dashed transparent;
	border-radius: var(--roundness);
	--highlight-colour: var(--accent-colour);
	transition-duration: var(--transition-speed);
}
.action-dropzone#delete-item-dropzone {
	/* For the delete one, use a danger colour */
	--highlight-colour: var(--accent-danger);
}
.action-dropzone[data-drag-over] {
	border-color: var(--highlight-colour);
}

/* 
List styles
*/

#list-container {
	margin-left: var(--sidebar-width);
}

#todo-items {
	display: flex;
	flex-direction: column;
}

/* Avoid interfering with the top section bottom border */
.todo-item-container:not(:first-child) {
	border-top: 2px solid black;
}

.todo-item {
	/* Ideally the user should be able to select todo items,
	but it causes issues when dragging & dropping them */
	user-select: none;
	cursor: grab;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	padding: var(--spacing-1);
}

.todo-item[data-being-dragged] {
	cursor: grabbing;
}

.todo-item input {
	/* Remove default styles */
	appearance: none;

	margin-right: var(--spacing-1);

	/* Knob */
	--checkbox-size: 20px;

	/* Custom checkbox */
	width: var(--checkbox-size);
	height: var(--checkbox-size);
	display: block;
	border-radius: 99999px;
	border: 1px solid var(--borders);
	background-color: var(--bg);
	position: relative;
	transition-duration: var(--transition-speed);
}

.todo-item input:checked {
	background-color: var(--accent-colour);
}

/* Dot in center to make it clearer */
.todo-item input:checked::after {
	content: " ";
	width: 5px;
	height: 5px;
	border-radius: 9999px;
	background-color: var(--borders);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.todo-item:has(input:checked) {
	text-decoration: line-through;
	color: grey;
}

.item-text {
	display: block;
	height: auto;
	max-width: calc(100% - 250px - var(--sidebar-width));
	text-wrap: wrap;
}

.created-at {
	margin-left: auto;
}
