/* Simple reset */
* {
	box-sizing: border-box;
	margin: 0;
	border: 0;
	padding: 0;
	list-style-type: none;
	font-family: sans-serif;
	text-align: inherit;
	font-size: 1rem;
}

/* Knobs for tweaking */
:root {
	--sidebar-width: 250px;
	--current-page-indicator-width: 10px;
	--spacing-1: 25px;
	--spacing-2: 50px;
	--bg: whitesmoke;
	--accent-colour: royalblue;
	--accent-light: skyblue;
	--accent-secondary: lightcoral;
	--borders: black;
}

html,
body,
#root {
	width: 100%;
	min-height: 100%;
	background-color: var(--bg);
}

/* 
Sidebar styles
*/

#sidebar {
	padding-top: var(--spacing-2);
	padding-bottom: var(--spacing-1);

	width: var(--sidebar-width);

	border-right: 3px solid black;

	background-color: var(--bg);
	/* Show above tickboxes */
	z-index: 10;

	/* Keep sidebar on the side at all times */
	left: 0;
	top: 0;
	bottom: 0;
	position: fixed;

	/* Stack items inside it */
	display: flex;
	flex-direction: column;
}

#title {
	padding-left: var(--spacing-1);
	/* 10px safety margin */
	max-width: calc(var(--sidebar-width) - var(--spacing-1) - 10px);
	text-overflow: ellipsis;
	font-size: 2rem;
}

#sidebar-lists {
	/* Push to bottom of sidebar */
	margin-top: auto;

	max-height: 80vh;
	overflow: auto;
}

#add-new-button {
	position: sticky;
	bottom: 0;
}

.sidebar-link-container {
	display: block;
	width: 100%;
}
.sidebar-link {
	display: block;
	width: 100%;
	height: 100%;
	padding: var(--spacing-1);
	padding-left: calc(var(--spacing-1) - var(--current-page-indicator-width));
	text-decoration: none;
	color: var(--borders);
	/* Keep everything with current page indicator aligned */
	border-left: var(--current-page-indicator-width) solid transparent;
	/* Get rid of initial colour from buttons */
	background-color: var(--bg);
}

.sidebar-link:hover {
	background-color: var(--accent-light);
}

[data-selected] .sidebar-link {
	border-left-color: var(--accent-colour);
}

[data-drag-over] .sidebar-link {
	border-left-color: var(--accent-secondary);
}

/* 
List styles
*/

#top-section {
	position: sticky;
	top: 0;
	z-index: 200;
	background-color: var(--bg);
	border-bottom: 2px solid var(--borders);
}

#list-container {
	margin-left: var(--sidebar-width);
}

#todo-items {
	display: flex;
	flex-direction: column;
	/* width: 100%; */
}

/* Avoid interfering with the top section bottom border */
.todo-item-container:not(:first-child) {
	border-top: 2px solid black;
}

.todo-item {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	padding: var(--spacing-1);
}

.todo-item input {
	/* Remove default styles */
	appearance: none;

	margin-right: var(--spacing-1);

	/* Knob */
	--checkbox-size: 20px;

	/* Custom checkbox */
	width: var(--checkbox-size);
	height: var(--checkbox-size);
	display: block;
	border-radius: 99999px;
	border: 1px solid var(--borders);
	background-color: var(--bg);
	position: relative;
}

.todo-item input:checked {
	background-color: var(--accent-colour);
}

/* Dot in center to make it clearer */
.todo-item input:checked::after {
	content: " ";
	width: 5px;
	height: 5px;
	border-radius: 9999px;
	background-color: var(--borders);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.todo-item:has(input:checked) {
	text-decoration: line-through;
	color: grey;
}

.item-text {
	display: block;
	height: auto;
	max-width: calc(100% - 250px - var(--sidebar-width));
	text-wrap: wrap;
}

.created-at {
	margin-left: auto;
}
